<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <handlers accessPolicy="Read, Execute" />
        <defaultDocument enabled="true">
            <files>
                <add value="Default.asp" />
                <add value="admin.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
